<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>

<div class="container d-flex align-items-center mt-2" style="flex-direction: column">
<h1 class="text-xl-center">URL Analyzer</h1>

{{ if .Error }}
    <p class="text-sm-center" style="color:#FF0000"> {{ .Error }} </p>
{{ end }}

<form class="form-inline" method="post" style="margin:10" >
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="url" placeholder="Insert the website URL" required="true" value={{ .URL }}>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>


<div>
{{ if .HTMLVersion }}
<b>HTML Version:</b> {{ .HTMLVersion }} <br />
<b>Page Title:</b> {{ .PageTitle }} <br />
<b>Counter h1:</b> {{ .Headings.Counterh1 }} <br />
<b>Counter h2:</b> {{ .Headings.Counterh2 }} <br />
<b>Counter h3:</b> {{ .Headings.Counterh3 }} <br />
<b>Counter h4:</b> {{ .Headings.Counterh4 }} <br />
<b>Counter h5:</b> {{ .Headings.Counterh5 }} <br />

<b>Counter Internal Links:</b> {{ .CounterInternalLinks }} <br />
<b>Counter External Links:</b> {{ .CounterExternalLinks }} <br />
<b>Counter Inaccessible Links:</b> {{ .CounterInaccessibleLinks }} <br />
<b>Contains Login Form?</b> {{ .ContainsLoginForm }} <br />
{{ end }}
</div>

</div>
</body>
</html>
