<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{{ .PageTitle }}

{{ .Headings.Counterh1 }}
{{ .Headings.Counterh2 }}
{{ .Headings.Counterh3 }}
{{ .Headings.Counterh4 }}
{{ .Headings.Counterh5 }}
</body>
</html>
